body
{
    background: #FFFFFF;
    font-size: 80%;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
    /*background-image:url('../imagenes/plantilla/fondo_blue.png');*/
}

.table_control_registros
{
    margin:0 auto;
}

#div_contenedor_login
{
    width:338px;
    margin:0 auto;    
}

#div_fondo_medio_login
{
    background:url('../imagenes/plantilla/fondo_medio_login.png');
    background-repeat:repeat-y;
}

#td_contenedor_datos_login
{
    background-image:url('../imagenes/plantilla/plantilla_login_blue_r4_c1.png');
    width:338px;
    height:221px;
}
                                           
.td_repeat_superior
{
    background:url('../imagenes/plantilla/plantilla_login_blue_r3_c1.png');
    background-repeat:repeat-y;
    width:338px;    
}
                                           
.td_repeat_inferior
{
    background:url('../imagenes/plantilla/plantilla_login_blue_r5_c1.png');
    background-repeat:repeat-y;
    width:338px;    
}

.td_izq_login
{
    text-align:right;
    padding:2px; 
    color:#ffffff;
    font-weight:bold;
}

.td_link_recordar_password
{
    text-align:right;
    padding:2px;
}

.td_der_login
{
    text-align:left;
    padding:2px;
}

#div_contenedor_inicio_sesion
{
    margin:0 80px 0 30px;

}

#div_texto_pie_login
{
    text-align:center;
    font-weight:bold;
    color:#aaaaaa;
    font-size:90%;
}

/* PARA EL PANEL DE FONDO EN LOS MENSAJES POPUP*/
.panel_fondo_popup
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #aaaaaa;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9998;
    display: none;
}

.panel_popup
{
    position: fixed;
    top: 15%;
    left: 50%;
    width: 650px;
    margin-left: -325px;
    background-color: #dddddd;
    opacity: 1.0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 9999;
    border: 2px solid #cccccc;
    padding: 8px;
    display: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 3px #999999;
    -moz-box-shadow: 0px 0px 3px 3px #999999;
    box-shadow: 0px 0px 3px 3px #999999;
    display: none;
}

/* VENTANA DE PROCESAMINETO */
.conf_panel_fondo_ventana_emergente
{
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    background-color: #cccccc;
    opacity: 0.90;
    filter: alpha(opacity=90);
    z-index: 9998;
    /*display: none;*/
}

.conf_panel_ventana_emergente
{
    background-color:#ffffff;
    
    -webkit-box-shadow: 0px 0px 3px 0px #000000;
    -moz-box-shadow: 0px 0px 3px 0px #000000;
    box-shadow: 0px 0px 3px 0px #000000; 
    
    border:2px solid #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; 
    
    height:218px;
    width:428px;
    
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -109px;
    margin-left: -214px;
    z-index: 9999;
    /*display:none;*/
}